<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>

<body>

<h1>Изменить данные пользователя</h1>

<form th:action="@{/admin/edit}" th:object="${user}" method="post">
  <p><input type="hidden" th:field="*{id}"/></p>
  <p>Имя: <label>
    <input type="text" th:field="*{username}"/>
  </label></p>
  <p>Фамилия: <label>
    <input type="text" th:field="*{lastName}"/>
  </label></p>
  <p>Email: <label>
    <input type="text" th:field="*{email}"/>
  </label></p>
   <p>Роль:
    <select th:field="*{roles}">
      <option th:value="1" th:text="User"></option>
      <option th:value="2" th:text="Admin"></option>
    </select>
  </p>
  <p>
    <input type="hidden" placeholder="Password" required th:field="*{password} "/>
  </p>
  <p><input type="submit" value="Сохранить изменения"/></p>
</form>


<form  th:method = "GET" th:action="@{/admin}">
  <input type="submit" value="Назад" />
</form>

<br/>
<form  th:method = "GET" th:action="@{/logout}">
  <input type="submit" value="Выход" />
</form>

</body>
</html>